<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Client</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/client.css">
  </head>
  <body>
    <script>
      window.ClientENV = {{ENV}};
      window.EmberENV = window.ClientENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/client.js"></script>
    <script>
      window.Client = require('client/app')['default'].create(ClientENV.APP);
    </script>
  </body>
</html>
