<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h2 id='title'>Welcome to TWIDDLE</h2>
      <h4>by FlashQuiz, the greatest quiz company EVER</h4>
    </div>

    <div class="col-xs-6">
      <div class="pull-right">
        {{#link-to 'games.new'}}play{{/link-to}} |
        {{#link-to 'games'}}leaderboard{{/link-to}} |
        {{#link-to 'cards'}}manage cards{{/link-to}} |
        {{#link-to 'cards'}}login{{/link-to}}
      </div>
    </div>  
  </div>

  <div class="row">
    {{outlet}}
  </div>

</div>