<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>All Your FlashCards</h3>
    </div>
  </div>

  {{#if content}}
    {{#each card in controller}}
      {{#if isEditing}}
        <div class="row">
          <div class="col-xs-4">
            {{textarea value=question placeholder="Question goes here" class="form-control"}}
          </div>
          <div class="col-xs-4">
            {{textarea value=answer placeholder="Answer goes here" class="form-control"}}
          </div>
          <div class="col-xs-4">
            <div class="btn-group">
              <button class="btn btn-primary score-button" {{action 'save'}}>save</button>
            </div>
          </div>
        </div>  
      {{else}}
        <div class="row">
          <div class="col-xs-4">
            {{question}} 
          </div>
          <div class="col-xs-4">
            {{answer}}
          </div>
          <div class="col-xs-4">
            <div class="btn-group">
              <button class="btn btn-danger card-left" {{action 'delete'}}>remove</button>
              <button class="btn btn-info card-right" {{action 'edit'}}>edit</button>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    <div class="row">
      <div class="col-xs-6">
        <h3 class="no-cards">YOU HAVE NO CARDS AT THIS TIME, ESSE</h3>    
      </div>
    </div>
  {{/if}}

  <br>

  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-primary score-button" {{action 'create'}}>+ create new </button>
    </div>
  </div>
</div>