<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h3>Time to play game:</h3>
      Current Score: {{score}}
      {{#each cards}}
        <h4>{{question}}</h4>
      {{/each}}
    </div>
  </div>
</div>