html, body {
  margin: 20px;
  background-color: #FFFFF7;
}

.no-cards {
  color: rgb(210, 210, 210);
}

.score-board {
  font-size: 20px;
  font-family: monospace;
  background-color: #000000;
  color: #00FF00;
  /*background-color: #00FF00;*/
  border: 2px dashed #00FF00;
  border-top: none;
}

.score-board-headers {
  border-top: 2px dashed #00FF00;
}

/* could be much cleaner */
.score-button {
  border: 2px dashed black;
  font-family: monospace;
}

.card-left {
  border: 2px dashed black;
  border-right: none;
  font-family: monospace;
  margin-bottom: 5px;
}
.card-right {
  border: 2px dashed black;
  border-left: none;
  font-family: monospace;
  margin-bottom: 5px;
}
/* could be much cleaner */