
<div class="container">
  <div class="row">
    <h2>LEADERBOARD</h2>
  </div>
  <div class="row score-board score-board-headers">
    <div class="col-xs-3 score-text">INITIAL</div>
    <div class="col-xs-3 score-text">SCORE</div>
    <div class="col-xs-3 score-text">TIME</div>
    <div class="col-xs-3 score-text">COMMENTS</div>
  </div>
  {{#each content}}
    <div class="row score-board">
      <div class="col-xs-3 score-text">{{initials}}</div>
      <div class="col-xs-3 score-text">{{score}}</div>
      <div class="col-xs-3 score-text">{{when}}</div>
      <div class="col-xs-3 score-text">{{brag}}</div>
    </div>
  {{/each}}
</div>

<br>
<button class="btn btn-danger score-button" {{action 'clearAll'}}>reset</button>